/* ========= LAYOUT ========= */
        .container {
            display: grid;
            min-height: 100vh;
            grid-template-areas:
                "header"
                "navigation"
                "content"
                "aside"
                "footer";
        }

        .header {
            grid-area: header;
        }


        .content {
            grid-area: content;
        }

        .aside {
            grid-area: aside;
        }
        
        .footer {
            grid-area: footer;
        }

        header {
            background-color: var(--base-color-one);
            padding: var(--standart-padding);
            text-align: center;
        }

        main {
            padding: var(--standart-padding);
        }

        nav {
            background-color: var(--base-color-two);
            padding: var(--standart-padding);
        }

        aside {
            background-color: var(--base-color-three);
            padding: var(--standart-padding);
            color: var(--text-color-light);
        }

        footer {
            background-color: var(--base-color-one);
            padding: var(--standart-padding);
            color: var(--text-color-light);
            text-align: center;
        }

        @media (min-width: 768px) {
            .container {
                display: grid;
                grid-template-areas:
                    "header     header  header"
                    "navigation content aside"
                    "footer     footer  footer";
                grid-template-columns: 200px auto 200px;
                grid-template-rows: auto 1fr auto;
            }
        }